.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;  
}
.header,
.footer {
  grid-column: 2/3;
}
.main{
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.global-btn {
  margin-left: auto;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: bold;
  background-color: #f4ce14;
}
button:hover {
  cursor: pointer;
}
.error {
  border: 1px solid red !important;
}
.section-container {
  border-radius: 8px;
  grid-column: 2/3;
  
}
@media screen and (max-width: 900px) {
  .section-container {
    border-radius: 0;
    grid-column: 1/4;
    padding: 20px;
  }
  .header,
  .footer {
    grid-column: 1/4;
    padding: 10px 20px;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 620px) {
  .container {
    display: flex;
    flex-direction: column; 
  }
  .section-container {
    flex: 1;
  }
  .footer {
    flex: 1;
    flex-direction: column;
  }
}